body {
	background: none !important;
}
.container {
	width: 98%;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: #ffffff;
}
.wpgmp-overview .hiderow {
	display: none;
}

.hide_wrap {
	display: none;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	padding-top: 0px;
}

.toplevel_page_wpp_view_overview .wpgmp-overview a {
	color: #3498DB;
	text-decoration: none;
}

.alert-success a,
.alert-info a,
.alert-danger a {
	color: #fff;
}

.alert-success a:focus {
	color: #fff;
}

.wpgmp-overview h4.alert.alert-info {
	margin-left: -15px;
	margin-right: -15px;
}

.wpp_or {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.wpp_or span {
	background: #fff;
	padding: 0 10px;
}

.wp-color-result {
	height: 24px !important;
}

.wpgmp-shape-delete {
	cursor: pointer;
	float: right;
	margin-right: 0px;
}

@media (max-width: 788px) {

	.radio input[type="radio"],
	.radio-inline input[type="radio"],
	.checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
		margin-left: -23px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		line-height: normal;
		margin: -1px 0 0;
	}

	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="text"] {
		margin-bottom: 6px;
	}

	.wpp_location_selection {
		float: left;
		width: 100%;
	}
}

img.noclass.selected_image {
	margin-left: 10px;
}

.no-padding {
	padding:0;
}
