.wpgmp-frontend {
	margin-bottom: 0px;
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	box-sizing: border-box;
}
.wpgmp-frontend .help-block {
	font-size: 12px;
}
.wpgmp-frontend input[type="text"],  .wpgmp-frontend input[type="email"],  .wpgmp-frontend input[type="url"],  .wpgmp-frontend input[type="password"],  .wpgmp-frontend input[type="search"] {
	width: 100%;
	max-width: 100%;
	background: #ffffff;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	float: left;
	height: 37px;
	padding: 0px 0px 0px 10px;
	font-size: 15px;
	box-shadow: none;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	color: #555555;
	-webkit-appearance: none;
}
.wpgmp-frontend textarea {
	width: 100%;
	background: #ffffff;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	float: left;
	/**font-size: 15px;**/





	box-shadow: none;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	color: #555555;
	-webkit-appearance: none;
	height: auto;
	padding: 7px 0 7px 10px;
}
.wpgmp-frontend label {
	font-size: 14px;
	font-weight: bold;
	display: inline;
}
.wpgmp-frontend input[type="submit"] {
	border: 2px solid #097faa;
	border-radius: 4px;
	background: #57a1e2;
	color: #fff;
	font-size: 13px;
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 0%;
	font-weight: 700;
}
.wpgmp-frontend input[type="submit"]:hover {
	background: #333333;
	border: 2px solid #000;
}
.wpgmp-frontend .col-md-3 {
	width: 23%;
	float: left;
}
.wpgmp-frontend .col-md-8 {
	width: 75%;
	float: left;
}
.wsl_prayer_engine {
	margin: 20px 0;
}
.wsl_prayer_enginelist {
	float: left;
	width: 100%;
}
.wsl_prayer_engine h3 {
	margin-top: 0px;
	font-size: 20px;
}
.wsl_prayer_engine ul {
	margin: 0px;
	padding: 0px;
}
.wsl_prayer_engine li {
	list-style: none;
	padding: 10px;
	float: left; /**width:100%;**/
}
.wsl_prayer_engine li:nth-child(odd) {
	background: #EAEAEA;
}
.wsl_prayer_engine li:nth-child(even) {
	background: #fff;
}
.wsl_prayer_left h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 16px;
}
.wsl_prayer_left p {
	margin-bottom: 10px;
	font-size: 14px;
}
.wsl_prayer_left .postmeta {
	color: #969696;
	font-size: 13px;
}
.wsl_prayer_right {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.wsl_prayer_right input[type="submit"] {
	font-size: 13px;
	padding: 10px 20px;
	text-transform: inherit;
	border-radius: 4px;
	cursor: pointer;
	background: #57a1e2;
	font-weight: 700;
	color: #fff;
	border: 0;
}
.wsl_prayer_right input[type="submit"]:hover {
	background: #333333;
}
.wsl_prayer_right .prayed {
	cursor: default !important;
}
.wsl_prayer_right .prayed:hover {
	background: none;
!important;
}
.clear {
	clear: both;
}
.wpgmp-frontend .alert-danger {
	padding: 10px;
	font-size: 14px;
	background: #faddb7;
	border: 1px solid #bf8c4b;
	color: #7d4c0c;
	margin-bottom: 15px;
}
.wpgmp-frontend .alert-success {
	padding: 10px;
	font-size: 14px;
	background: #c1fbe9;
	border: 1px solid #84d7bd;
	color: #176a50;
	margin-bottom: 15px;
}
.wpgmp-frontend .close {
	display: none;
}
.prayers_pagination {
	text-align: center;
	margin-top: 12px;
}
.page-numbers {
	border: 1px solid #c0c0c0 !important;
	color: #666;
	font-size: 12px;
	padding: 5px;
	text-decoration: none;
}
span.page-numbers.current, .page-numbers:hover {
	border: 1px solid #57a1e2 !important;
	color: #57a1e2;
}

@media (max-width:768px) {
.wpgmp-frontend .col-md-3,  .wpgmp-frontend .col-md-8,  .wsl_prayer_left,  .wsl_prayer_right {
	width: 100%;
	float: left;
}
.wpgmp-frontend input[type="submit"] {
	margin-left: 0px;
}
.wsl_prayer_right {
	text-align: left;
	margin-top: 10px;
}
}
/***********/





.wpgmp-frontend input[type="text"], .wpgmp-frontend input[type="email"], .wpgmp-frontend input[type="url"], .wpgmp-frontend input[type="password"], .wpgmp-frontend input[type="search"], .wpgmp-frontend textarea {
	margin-bottom: 5px;
	font-family: auto;
	font-size: 13px;
}
.wpgmp-frontend input[type="submit"],  .wsl_prayer_right input[type="submit"] {
	border: 0 none !important;
	border-radius: 20px !important;
}
.wsl_prayer_left p {
	line-height: 22px;
	text-align: justify;
}
.wsl_prayer_engine li {
	margin-left: 0;
	padding: 2% !important;
	width: 96%;
}
.wsl_prayer_right {
	float: right;
	width: 28%;
}
.wsl_prayer_left {
	float: left;
	width: 100%;
}
.wsl_captcha_field {
	margin-left: 2%;
	width: 50%!important;
}
.wsl_desc_field {
	margin-left: 30.5%;
	width: 100%;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: -20px;
}
.radio-inline, .checkbox-inline {
	position: relative;
	display: inline-block !important;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal !important;
	font-size: 13px !important;
	cursor: pointer;
}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
	margin-top: 0;
	margin-left: 10px;
}
.radio-col {
	margin-bottom: 18px;
}
.hiderow {
	display: none;
}
.wsl_submit_field {
	margin-left: 3%
}
.robotic {
	display: none !important;
}
/*------------------ Started CSS by Raghav from LXT -------------------*/





#searchform {
	max-width: 100%;
}
input#s {
	max-width: 90%;
}
.wsl_prayer_left {
	position: relative;
}
.wsl_prayer_right {
/*	position: absolute !important;*/
	right: 0 !important;
	top: 0px !important;
	width: auto !important;
	margin: 0;
	padding: 0;
}
.content-wrap img {
	margin-top: 0;
}
.wpgmp-frontend span.inline-star {
	width: auto !important;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
.wpgmp-frontend .col-md-8 {
	width: 100%;
	float: left;
}
.wsl_desc_field {
	margin-left: 0;
	text-align: center;
	width: 100%;
}
img#captchaimg {
	margin-top: 0 !important;
}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
.wsl_desc_field {
	margin-left: 0;
	width: 100%;
}
img#captchaimg {
	margin: 20px calc(50% - 60px);
}
.wsl_captcha_field {
	margin-left: 0%;
	width: 100% !important;
}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
.wsl_prayer_right {
	position: relative !important;
	right: 0 !important;
	top: 0px !important;
	width: 100% !important;
	margin: 0;
	padding: 0;
}
.wpgmp-frontend input[type="submit"], .wsl_prayer_right input[type="submit"] {
	width: 100%;
}
}
#content .main .container {
	width: auto;
}
div.wpgmp-frontend .form-group {
	min-width: 100%;
	max-width: 100%;
	display: inline-block;
}
div.wpgmp-frontend .chkbox_class {
	-webkit-appearance: radio !important;
	-moz-appearance: radio;
	apperance: radio !important;
}
.help-block , .inline-star { color:#F00; }
.wpgmp-frontend .is_humans{ display:none; }
.help-block { display:none; }

.prayer-css-left {
    float: left;
}
.prayer-css-right {
    float: right;
}
.prayer-css-title {
    font-size: 20px;
    text-transform: none;
}
.prayer-css-pointer {
    cursor: pointer;
}
.prayer-css-pray-button {
    padding: 0px;
    background: transparent;
    border: 0px;
}
